:root {
  --pokedex-frame-color: #cc0000;
  --pokedex-input-color: #000000;
  --pokedex-font-color: aliceblue;
  --pokedex-input-shadow: inset 0 0 5px #f0f8ffb3;
  --pokedex-btn-border-outline-color: aliceblue;
}


.pokedex-search {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 40vw;
  height: 56px;

  display: flex;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;

  opacity: 0.8;
  border: 1px solid black;
  background-color: var(--pokedex-frame-color);

  overflow: visible;
  min-width: max-content;
  transform: translate(-50%, -50%);

  z-index: 60;
}

.pokedex-search.dropdown-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.pokedex-search form {
  display: flex;
  flex: 1;
}

.pokedex-search input {
  flex: 1;
  height: 100%;

  background-color: var(--pokedex-input-color);
  color: var(--pokedex-font-color);
  border-radius: 8px;
  padding: 5px 5px 5px 8px;

  appearance: none;
  border: none;

  box-shadow: var(--pokedex-input-shadow);
}


.pokedex-search input:hover {
  border: 2px solid var(--pokedex-btn-border-outline-color)
}

.pokedex-search input:focus:hover {
  border: none;
}


.pokedex-search input::placeholder {
  color: rgba(240, 248, 255, 0.7);
}

.search-btns {
  width: auto;
  height: 100%;
  cursor: var(--cursor-pointer);
  flex-shrink: 0;
  box-shadow: var(--pokedex-input-shadow);
  background-color: var(--pokedex-input-color);
  border-radius: 8px;
  padding: 2px;
}

.search-btns.active {
  background-color: #b9b9b9;
  border: 2px solid var(--pokedex-btn-border-outline-color)
}

.search-btns:hover {
  border: 2px solid var(--pokedex-btn-border-outline-color)
}

.search-btns.active:hover {
  background-color: #b9b9b9;
  border: 2px solid var(--pokedex-btn-border-outline-color)
}

.search-btns-img {
  width: auto;
  height: 100%;
}

.suggestions-container {
  display: block;

  position: absolute;
  top: 100%;
  left: 0px;

  width: 100%;

  background-color: var(--pokedex-frame-color);
  padding: 4px 8px 8px 8px;

  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  z-index: 60;
}

/* ? Problem comes when you need a scrollbar if the padding is kept and not border is given then scroll bar will be outside but with this cheap trick it will be inside border */
#suggestions {
  width: 100%;

  background-color: var(--pokedex-input-color);
  color: var(--pokedex-font-color);
  border-radius: 8px;

  /* ! Need to fix this hardcoded value here */
  max-height: min(250px, 50vh - 30.8px);
  overflow-y: auto;
  -ms-overflow-style: none;
}

.suggestion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: var(--cursor-pointer);
  padding: 10px;
  background-color: var(--pokedex-input-color);
  color: var(--pokedex-font-color);
}

.suggestion-item:hover {
  color: rgba(240, 248, 255, 0.7);
  background-color: #000000;
}

.suggestion-item.selected {
  background-color: aliceblue;
  color: #000;
}


.suggestion-item:first-of-type {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.suggestion-item:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.delete-query-btn {
  cursor: var(--cursor-pointer);
  display: flex;
  align-items: center;
}



/* * Bloom effect is AI generated I thought it looked pretty descent so why not...*/
.pokedex-dot {
  width: 13px;
  height: 13px;
  border: 2px solid #111;
  border-radius: 50%;

  box-sizing: border-box;
  cursor: var(--cursor-pointer);
}

.pokedex-dot.red {
  position: absolute;
  top: -7px;
  left: 30px;
  background: #e52521;
  box-shadow:
    inset 2px 2px 0px #ff8a8a,
    0 0 0 2px rgba(229, 37, 33, 0.5),
    0 0 0 4px rgba(229, 37, 33, 0.2);
}

.pokedex-dot.yellow {
  position: absolute;
  top: -7px;
  left: 50px;
  background: #ffcc00;
  box-shadow:
    inset 2px 2px 0px #ffff8a,
    0 0 0 2px rgba(255, 204, 0, 0.5),
    0 0 0 4px rgba(255, 204, 0, 0.2);
}

.pokedex-dot.green {
  position: absolute;
  top: -7px;
  left: 70px;
  background: #4caf50;
  box-shadow:
    inset 2px 2px 0px #a6ffa6,
    0 0 0 2px rgba(76, 175, 80, 0.5),
    0 0 0 4px rgba(76, 175, 80, 0.2);
}

.pokedex-action-btn {
  position: absolute;
  top: -12px;
  left: -12px;
  width: 32.5px;
  height: 32.5px;
  border: 2px solid #111;
  border-radius: 50%;
  background: #008be5;
  box-shadow:
    inset 4px 4px 0px #70c5ff,
    inset -2px -2px 0px #005691,
    0 0 0 3px rgba(0, 139, 229, 0.5),
    0 0 0 6px rgba(0, 139, 229, 0.2);
  cursor: var(--cursor-pointer);
}