:root {
  --time-font-size: 64px;
  --meridiem-font-size: 64px;
}

.time-widget {
  position: absolute;
  top: 30%;
  left: 50%;
  color: aliceblue;
  transform: translate(-50%, -50%);
}

.style-inline {
  display: flex;
  flex-direction: row;

}

.style-stacked {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.style-superscript {
  display: flex;
  flex-direction: row;
}

.time-display {
  font-size: var(--time-font-size);
}

.meridiem-display {
  font-size: var(--meridiem-font-size);
}